<section>
    <div id="card">
        <div id="topCard" class="box">
            <h1><a href='/onepost/{{id}}'>{{post_title}}</a></h1>
            <h2 class="userName">{{user.username}}</h2>
            <h2>{{format_date post.createdAt}}</h2>
           
        </div>
        <div id="bottomCard">
            <p>{{post_content}}</p>
        </div>
    </div>
</section>